.container{
    background-color: #5a1d41;
    color:#fff;
    text-align: center;
    padding: 50px 0 ;
}

.brand{
    text-align: center;

}
.brand h2{
   transform: translate(-40px);
}

.brand_logo{
   color: grey;
   display: flex;
   justify-content: space-evenly;
   font-size:2rem;
   padding-top: 30px;
}

.image_div {
   
    width: 80vw;
    margin: auto;
}
.container h2{
    padding-bottom: 20px;
}

.image_div img{
    padding: 3px;
}

.image_text{
    padding: 10px;
}
.image_text p{
    padding: 20px;
}

.image_text button{
   background-color: rgb(31, 124, 31);
   color: #fff;
}

.brand_container{
    padding:15px;
}